p {
    color: #00ad17;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
}

div{
    width: 200px;
    height: 500px;
    /* display: inline; */
    display: block;
}
