body{
    background-color: rgb(255, 255, 255);
}
div h1{
    text-align: center;
    color: rgb(20, 18, 18);
}

img{
    height: 500px;
    display: block;
    margin: auto;
}

.card{
    width: 2000;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(20, 18, 18);
    transition: 0.3s;

}

h4{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}